@import {
    url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

*{font-family:'Source Sans Pro', sans-serif;}


body {
    background: #ffff;
}

.wrappers {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.wrappers button {
    background-color: #8AC6D0;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size: 27px;
    text-decoration:none;
    margin: 20px;
    padding: 1em 3em;
    border: 3px solid #33393D;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.5);
}

.wrappers button:before {
    position: absolute;
    content: '';
    width: 0%; height: 100%;
    background: #33393D;
    top: 0; left: 50%;
    z-index: -1;
    transition: all 0ms ease;
}

.wrappers button:hover {
    background-color:#33393D;
    color: white; 
    box-shadow:none;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
    left: 0;
    top: 0;
    background-color: #33393D;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 1000;
}

.menu {
    float: right;
    display: flex;
}

.menu li {
padding-right: 20px;
font-size: 17px;
list-style-type: none;
}

.menu li a {
    color: #fff;

}

fieldset {
    border: none;
    margin: 0;
}

input {
    border: none;
    font-size: inherit;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
}

input[type="submit"] { cursor: pointer; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
    content: "";
    display: table; 
}
.clearfix:after { clear: both; }

#login-form {
    margin: 150px auto;
    width: 300px;
    
}

#login-form h1 {
    background-color: #33393D;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#login-form fieldset {
    background: #e6e6e6;
    padding: 20px;
    position: relative;
}

#login-form fieldset:before {
    background-color: #ffffff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

#login-form input {
    font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 238px;
}

#login-form input[type="text"] {
    border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
    background: #8AC6D0;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    float: right;
    margin-top: 20px;
    padding: 12px 20px;
}

#login-form input[type="submit"]:hover { background: #0B8AA1; }

#login-form input[type="submit"]:active { background: #0B8AA1; }

#login-form footer {
    font-size: 12px;
    margin-top: 16px;
}

table {
    border-spacing: 0 10px;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    background: #33393D;
    color: #ffffff;
    border-right: 2px solid; 
    font-size: 0.9em;
}

th:first-child {
    text-align: center;
}

th:last-child {
    border-right: none;
}

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

td:first-child {
    border-left: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

td:nth-child(2){
    text-align: center;
}

*:focus {outline: none;}

#addmap h2, #addmap label {
    font-family: 'Source Sans Pro', sans-serif;
}

#addmap ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

#addmap li {
    width: 63%;
    padding: 12px;
    border-bottom: 1px solid #bebebe;
    position: relative;
}

#addmap li:first-child, #addmap li:last-child {
    width: 63%; 
    border-bottom: 1px solid #777;
}

#addmap h2 {
    margin: 0;
    display: inline;
}

#addmap label {
    font-size: 15px;
    width:210px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;

}
#addmap input {
    height:20px;
    width:150px;
    padding:5px 8px;
}

#addmap input {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

#addmap input:focus {
    background: #fff;
    border:1px solid #555;
    padding-right: 70px;
    box-shadow: 0 0 3px #aaa;
}

/* Button Style */
.form-btn button, button.submit {
    background-color: #8AC6D0;
    border: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #ccc;
    -webkit-box-shadow: 0 1px 0 0 #ccc inset ;
    -moz-box-shadow: 0 1px 0 0 #ccc inset;
    -ms-box-shadow: 0 1px 0 0 #ccc inset;
    -o-box-shadow: 0 1px 0 0 #ccc inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
}

.form-btn button:hover, button.submit:hover {
    opacity:.85;
    cursor: pointer;
}

.form-btn button:active, button.submit:active {
    border: 1px solid #22899b;
    box-shadow: 0 0 10px 5px #095663 inset;
    -webkit-box-shadow:0 0 10px 5px #095663 inset ;
    -moz-box-shadow: 0 0 10px 5px #095663 inset;
    -ms-box-shadow: 0 0 10px 5px #095663 inset;
    -o-box-shadow: 0 0 10px 5px #095663 inset;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.map-table {
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.map-table td {
  font-size: 16px;
}

.map-table button {
  font-size: 16px;
}

.form-btn {
    text-align: center;
}

.table-link {
    color: #8AC6D0;
    cursor: pointer;
}

.datalist{
    font-size: 16px;
    margin-left: 70px;
    margin-top: 75px;
}

.datalist select, .datalist option {
    font-size: 16px;
    width: 75%;
}

.datalist button {
     font-size: 16px;
    float: right;
    margin-top: 10px;
    margin-right: 180px;
}

#file {
    margin-left: 15px;
}

#map{
    width: 640px;
    height: 480px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

div.map {
    width: 800px;
    height: 485px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.cd-main-content .cd-btn {
    position: absolute;
    top: 72px;
    left: 20px;
    background-color: #8AC6D0;
    border: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #ccc;
    -webkit-box-shadow: 0 1px 0 0 #ccc inset ;
    -moz-box-shadow: 0 1px 0 0 #ccc inset;
    -ms-box-shadow: 0 1px 0 0 #ccc inset;
    -o-box-shadow: 0 1px 0 0 #ccc inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    z-index: -1;
}
.cd-main-content .cd-btn:hover {
    opacity:.85;
    cursor: pointer;
}

.cd-main-content .cd-dtname {
    position: absolute;
    top: 72px;
    left: 200px;
    z-index: 900;
}

.cd-main-content .cd-btn:active {
    border: 1px solid #22899b;
    box-shadow: 0 0 10px 5px #095663 inset;
    -webkit-box-shadow:0 0 10px 5px #095663 inset ;
    -moz-box-shadow: 0 0 10px 5px #095663 inset;
    -ms-box-shadow: 0 0 10px 5px #095663 inset;
    -o-box-shadow: 0 0 10px 5px #095663 inset;
}

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

.cd-panel-header {
  position: fixed;
  width: 26%;
  height: 53px;
  line-height: 5px;
  background-color: #33393D;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
}
.from-left .cd-panel-header {
  top: -50px;
  left: 0;
}

.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
  position: absolute;
  top: 24px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #a1a1a1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 26%;
  height: 100%;
  top: 0;
  background: #ffffff;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}
.stat-list {
  width: 350px;
}

.map-list {
  width: 350px;
}

.stat-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.map-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stat-list li {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.map-list li {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.stat-list li:last-child {
  border: none;
}

.map-list li:last-child {
  border: none;
}

.map-list li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 350px;
}

.stat-list li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 350px;
}

.map-list li a:hover {
  font-size: 25px;
  background: #d5dbc0;
}

.stat-list li a:hover {
  font-size: 25px;
  background: #d5dbc0;
}

.cd-panel.is-visible {
  z-index: 2000;
}

#piechart, #horchart1 {
  max-width: 1024px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#horchart2 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}